.hab {
    font-family: 'Press Start 2P', cursiva;
    width: 100%;
    height: 100vh, auto;
    margin-top: 2.3em;
    text-align: center;
  }

  .titulo-hab{
	color: #c07f8c;
    font-family: 'Press Start 2P', cursiva;
    font-weight:500;
    font-size: 2em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-top: 2em;
  }
 
  .lin{
    margin-top: 2.3em;
  }

  .titulo-card {
    color: #c07f8c;
    font-weight:700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
  }
  
  .tres {
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: black;
    border-color:#c07f8c; 
    border-radius: 10px;
  }
  
  .card i {
    font-size: 3em;
    text-align: center;
    color: #9370AB;
    margin-bottom: 0.5em;
  
  }
  
  .card ul {
    color:#c5bed7;
    list-style: none;
    padding-left: 0;
    margin-top: 1em;
  }
  
  .row {
    justify-content: center;
    margin: 0;
  }