.nav {
  background-color: black !important;
  font-family: 'Press Start 2P', cursiva;
  font-size: 100%;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color:#9370AB!important;
  margin-bottom:2%;
}
  
  a:hover{
    color:#c07f8c!important;
  }
  i{
    font-size: 1.3em;
  }

  @media (min-width: 767px) { 
    .nav-icon{
      font-size: 70%;
    }
  

   }

  